/* Votre Style */

ul {
  background: #f4f8ff;
}
li, [class*="grid"] > * {
  background: #f4f8ff;
}
header, footer {
  background: #f4f8ff;
}
main {
  background: #f4f8ff;
}
aside {
  background: #aaa;
}